<a href="https://colab.research.google.com/github/carlottaviappiani/MLPNS_CViappiani/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First markdown cell
This is a text cell in markdown syntax \\
Ex.: $\alpha_\text{a}$=$\frac{3}{4}$

In [1]:
2*2

4

# Here we start coding:

# 1) Native variables and variables types

## Integers

In [2]:
intVar = 3

In [3]:
type(intVar)

int

## Float

In [6]:
floatVar= 3.0

In [7]:
type(floatVar)

float

In [8]:
float(intVar)

3.0

In [9]:
float2var=float(intVar)

In [10]:
type(float2var)

float

In [13]:
intVar * floatVar

9.0

In [14]:
intVar /2

1.5

In [15]:
intVar + floatVar

6.0

In [16]:
intVar + floatVar -intVar/2

4.5

In [17]:
type(intVar + floatVar -intVar/2)

float

In [18]:
(intVar + floatVar -intVar)/2

1.5

## Strings

In [19]:
print("Hello world")

Hello world

In [20]:
print("'Hello world'")

'Hello world'

In [21]:
print('''Hello
world''')

Hello
world

In [22]:
strVar= 'Hello world'

In [23]:
print(strVar)

Hello world

## Boolean Variables

In [24]:
True

True

In [25]:
False

False

In [35]:

if intVar>floatVar:
  print("this is true")
  print(intVar*floatVar)
else:
  print("condition was false")

condition was false

In [36]:
# == is equal?
print(intVar==floatVar)
# > greater
print(intVar>floatVar)
# < greater
print(intVar<floatVar)
# != not equal
print(intVar!=floatVar)

True
False
False
False

In [38]:
# | is logical OR
(intVar>floatVar) | (intVar==floatVar)
# & is logical AND
(intVar>floatVar) & (intVar==floatVar)

False

In [39]:
False==0

True

In [41]:
True==1

True

In [45]:
# Instead of logical AND & I can use *
if (intVar>floatVar) * (intVar==floatVar):
  print("True")
else: 
  print("False")

False

In [46]:
# Instead of logical OR | I can use +
if (intVar>floatVar) + (intVar==floatVar):
  print("True")
else: 
  print("False")

True

##Loop

In [50]:
for i in range(1,10,3):
  print(i)

1
4
7

#2) Variable as objects

In [53]:
strVar="hello world"

In [54]:
#capitalize puts first capital letter
strVar.capitalize()

'Hello world'

In [55]:
#upper turns all the letters in capital letters
strVar.upper()

'HELLO WORLD'

In [57]:
#isdigit verifies if string is a number
strVar.isdigit()

False

In [58]:
"3".isdigit()

True

In [59]:
floatVar.is_integer()

True

#3) List

In [61]:
listVar=[intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [62]:
#append adds elements at the end of the string
listVar.append(11)
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [63]:
listVar[0]

3

In [64]:
strVar[0]

'h'

In [65]:
'h' in strVar

True

In [66]:
3 in listVar

True

In [67]:
64 in listVar

False

In [68]:
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [69]:
listVar[1]=9

In [70]:
listVar

[3, 9, 'hello world', 0, True, 11]

In [71]:
strVar[0]="H"

TypeError: ignored

#4) Exercise: Wordle

In [72]:
target="yyyyy"

In [ ]:
guess="xxxxx"

In [107]:
target="ERROR"
guess="Acres"
if len(guess)!=5 | len(target)!=5:
  print('Illegal word')
else:
  target=target.upper()
  guess=guess.upper()
  output=[]
  for i in range (0,5):
    if guess[i] in target:
      if guess[i]==target[i]:
        output.append(guess[i])
      else:
       output.append('*')
    else:
      output.append('_')
  print(" ".join(output))

_ _ R * _

#5) Functions

In [117]:
def wordle(guess):
  """
  A function that checks a word guess against a target
  Input: 
    guess: a string
  Return:
    a string
  """
  target="ERROR"

  if len(guess)!=5 | len(target)!=5:
    print('Illegal word')
  else:
    target=target.upper()
    guess=guess.upper()
    output=[]
    for i in range (0,5):
      if guess[i] in target:
        if guess[i]==target[i]:
          output.append(guess[i])
        else:
          output.append('*')
      else:
        output.append('_')
    print(" ".join(output))

In [108]:
wordle?

In [118]:
wordle('bugia')

_ _ _ _ _

#6) Importing packages

Typical packages that we'll see:
##pandas
manipulation of tabular data
##numpy 
manipulation of numerical data
##scipy
statistica (also statsmodels)
##matplotlib(pylab)
visualizations and plotting
##sklearn(scikitlearn)
machine learning
##tensorflow
neural networks

In [121]:
import pandas as pd
# from pandas import * # never !
#cvs='comma separated values'

In [122]:
url="https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [124]:
#shows file (url)
df=pd.read_csv(url)

In [126]:
#dimensions of file matrix
df.shape

(924, 41)

In [127]:
#property/name of each column
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [128]:
#estrapolates first line dataframes
df.iloc[0]

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [132]:
df.loc[:,'Created Date']

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [133]:
url="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [147]:
colnames=['Title', 'Genre']
pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)
#header=first line with name of columns

                                   Title                         Genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [141]:
movies.shape

(924, 41)

In [142]:
movies.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [148]:
movies["Title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: Title, Length: 3883, dtype: object

In [149]:
movies["Genre"]

1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: Genre, Length: 3883, dtype: object

In [150]:
"Toy Story (1995)".split()

['Toy', 'Story', '(1995)']

In [152]:
"Toy Story (1995)".split()[2]

'(1995)'

In [153]:
"Toy Story (1995)".split()[-1]

'(1995)'

In [154]:
"Toy Story (1995)".split()[-1].replace("(","").strip(")")

'1995'

In [163]:
def get_year(mtitle):
  """
  """
  return int(mtitle.split("(")[-1].strip(")"))

In [164]:
movies["Title"].map(get_year)

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: Title, Length: 3883, dtype: int64

In [165]:
movies.groupby("year").count

KeyError: ignored