<a href="https://colab.research.google.com/github/carlottaviappiani/MLPNS_CViappiani/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First markdown cell
This is a text cell in markdown syntax \\
Ex.: $\alpha_\text{a}$=$\frac{3}{4}$

In [ ]:
2*2

4

# Here we start coding:

# 1) Native variables and variables types

## Integers

In [ ]:
intVar = 3

In [ ]:
type(intVar)

int

## Float

In [ ]:
floatVar= 3.0

In [ ]:
type(floatVar)

float

In [ ]:
float(intVar)

3.0

In [ ]:
float2var=float(intVar)

In [ ]:
type(float2var)

float

In [ ]:
intVar * floatVar

9.0

In [ ]:
intVar /2

1.5

In [ ]:
intVar + floatVar

6.0

In [ ]:
intVar + floatVar -intVar/2

4.5

In [ ]:
type(intVar + floatVar -intVar/2)

float

In [ ]:
(intVar + floatVar -intVar)/2

1.5

## Strings

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("'Hello world'")

'Hello world'

In [ ]:
print('''Hello
world''')

Hello
world

In [ ]:
strVar= 'Hello world'

In [ ]:
print(strVar)

Hello world

## Boolean Variables

In [ ]:
True

True

In [ ]:
False

False

In [ ]:

if intVar>floatVar:
  print("this is true")
  print(intVar*floatVar)
else:
  print("condition was false")

condition was false

In [ ]:
# == is equal?
print(intVar==floatVar)
# > greater
print(intVar>floatVar)
# < greater
print(intVar<floatVar)
# != not equal
print(intVar!=floatVar)

True
False
False
False

In [ ]:
# | is logical OR
(intVar>floatVar) | (intVar==floatVar)
# & is logical AND
(intVar>floatVar) & (intVar==floatVar)

False

In [ ]:
False==0

True

In [ ]:
True==1

True

In [ ]:
# Instead of logical AND & I can use *
if (intVar>floatVar) * (intVar==floatVar):
  print("True")
else: 
  print("False")

False

In [ ]:
# Instead of logical OR | I can use +
if (intVar>floatVar) + (intVar==floatVar):
  print("True")
else: 
  print("False")

True

##Loop

In [ ]:
for i in range(1,10,3):
  print(i)

1
4
7

#2) Variable as objects

In [ ]:
strVar="hello world"

In [ ]:
#capitalize puts first capital letter
strVar.capitalize()

'Hello world'

In [ ]:
#upper turns all the letters in capital letters
strVar.upper()

'HELLO WORLD'

In [ ]:
#isdigit verifies if string is a number
strVar.isdigit()

False

In [ ]:
"3".isdigit()

True

In [ ]:
floatVar.is_integer()

True

#3) List

In [ ]:
listVar=[intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [ ]:
#append adds elements at the end of the string
listVar.append(11)
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [ ]:
listVar[0]

3

In [ ]:
strVar[0]

'h'

In [ ]:
'h' in strVar

True

In [ ]:
3 in listVar

True

In [ ]:
64 in listVar

False

In [ ]:
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [ ]:
listVar[1]=9

In [ ]:
listVar

[3, 9, 'hello world', 0, True, 11]

In [ ]:
strVar[0]="H"

TypeError: ignored

#4) Exercise: Wordle

In [ ]:
target="yyyyy"

In [ ]:
guess="xxxxx"

In [ ]:
target="ERROR"
guess="Acres"
if len(guess)!=5 | len(target)!=5:
  print('Illegal word')
else:
  target=target.upper()
  guess=guess.upper()
  output=[]
  for i in range (0,5):
    if guess[i] in target:
      if guess[i]==target[i]:
        output.append(guess[i])
      else:
       output.append('*')
    else:
      output.append('_')
  print(" ".join(output))

_ _ R * _

#5) Functions

In [ ]:
def wordle(guess):
  """
  A function that checks a word guess against a target
  Input: 
    guess: a string
  Return:
    a string
  """
  target="ERROR"

  if len(guess)!=5 | len(target)!=5:
    print('Illegal word')
  else:
    target=target.upper()
    guess=guess.upper()
    output=[]
    for i in range (0,5):
      if guess[i] in target:
        if guess[i]==target[i]:
          output.append(guess[i])
        else:
          output.append('*')
      else:
        output.append('_')
    print(" ".join(output))

In [ ]:
wordle?

In [ ]:
wordle('bugia')

_ _ _ _ _

#6) Importing packages

Typical packages that we'll see:
##pandas
manipulation of tabular data
##numpy 
manipulation of numerical data
##scipy
statistica (also statsmodels)
##matplotlib(pylab)
visualizations and plotting
##sklearn(scikitlearn)
machine learning
##tensorflow
neural networks

In [ ]:
import pandas as pd
# from pandas import * # never !
#cvs='comma separated values'

In [ ]:
url="https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [ ]:
#shows file (url)
df=pd.read_csv(url)

In [ ]:
#dimensions of file matrix
df.shape

(924, 41)

In [ ]:
#property/name of each column
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [ ]:
#estrapolates first line dataframes
df.iloc[0]

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [ ]:
df.loc[:,'Created Date']

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [ ]:
url="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [ ]:
colnames=['Title', 'Genre']
pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)
#header=first line with name of columns

                                   Title                         Genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [ ]:
movies.shape

(924, 41)

In [ ]:
movies.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [ ]:
movies["Title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: Title, Length: 3883, dtype: object

In [ ]:
movies["Genre"]

1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: Genre, Length: 3883, dtype: object

In [ ]:
"Toy Story (1995)".split()

['Toy', 'Story', '(1995)']

In [ ]:
"Toy Story (1995)".split()[2]

'(1995)'

In [ ]:
"Toy Story (1995)".split()[-1]

'(1995)'

In [ ]:
"Toy Story (1995)".split()[-1].replace("(","").strip(")")

'1995'

In [ ]:
def get_year(mtitle):
  """
  """
  return int(mtitle.split("(")[-1].strip(")"))

In [ ]:
movies["Title"].map(get_year)

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: Title, Length: 3883, dtype: int64

In [ ]:
movies.groupby("year").count

NameError: ignored

##Exercise: sorting movies by genre

NameError: ignored

In [8]:
import pandas as pd
url="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"
colnames=['title', 'genres']
movies= pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [9]:
movies.genres

1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: genres, Length: 3883, dtype: object

In [10]:
len(movies.genres)

3883

In [38]:
#Finds all 'Fantasy' movies
c=0;
for i in range(len(movies.genres)):
  if "Fantasy" in movies.genres.iloc[i]:
    c+=1
print("There are",c,"Fantasy movies in the list.")
print("")
print("List of movies with this property:")
print("")
for i in range(len(movies.genres)):
  if "Fantasy" in movies.genres.iloc[i]:
    print(movies.title.iloc[i], movies.genres.iloc[i])
print("--------------------------")
#Finds movies that are just 'Fantasy' 
d=0;
for i in range(len(movies.genres)):
  if movies.genres.iloc[i]=="Fantasy":
    d+=1
print("There are",d,"exclusevely Fantasy movies in the list.")
print("")
print("List of movies with this property:")
print("")
print(movies[movies.genres=="Fantasy"])

There are 68 Fantasy movies in the list.

List of movies with this property:

Jumanji (1995) Adventure|Children's|Fantasy
Kids of the Round Table (1995) Adventure|Children's|Fantasy
Indian in the Cupboard, The (1995) Adventure|Children's|Fantasy
NeverEnding Story III, The (1994) Adventure|Children's|Fantasy
Heavenly Creatures (1994) Drama|Fantasy|Romance|Thriller
Kid in King Arthur's Court, A (1995) Adventure|Children's|Comedy|Fantasy|Romance
Star Wars: Episode IV - A New Hope (1977) Action|Adventure|Fantasy|Sci-Fi
Santa Clause, The (1994) Children's|Comedy|Fantasy
Mask, The (1994) Comedy|Crime|Fantasy
Pagemaster, The (1994) Action|Adventure|Animation|Children's|Fantasy
Dragonheart (1996) Action|Adventure|Fantasy
Space Jam (1996) Adventure|Animation|Children's|Comedy|Fantasy
Nutty Professor, The (1996) Comedy|Fantasy|Romance|Sci-Fi
Hungarian Fairy Tale, A (1987) Fantasy
Kazaam (1996) Children's|Comedy|Fantasy
Bogus (1996) Children's|Drama|Fantasy
Escape to Witch Mountain (1975) Adventure|Children's|Fantasy
20,000 Leagues Under the Sea (1954) Adventure|Children's|Fantasy|Sci-Fi
Willy Wonka and the Chocolate Factory (1971) Adventure|Children's|Comedy|Fantasy
E.T. the Extra-Terrestrial (1982) Children's|Drama|Fantasy|Sci-Fi
Drop Dead Fred (1991) Comedy|Fantasy
Warriors of Virtue (1997) Action|Adventure|Children's|Fantasy
Simple Wish, A (1997) Children's|Fantasy
FairyTale: A True Story (1997) Children's|Drama|Fantasy
Flubber (1997) Children's|Comedy|Fantasy
Star Kid (1997) Adventure|Children's|Fantasy|Sci-Fi
Borrowers, The (1997) Adventure|Children's|Comedy|Fantasy
Quest for Camelot (1998) Adventure|Animation|Children's|Fantasy
Small Soldiers (1998) Animation|Children's|Fantasy|War
Labyrinth (1986) Adventure|Children's|Fantasy
Goonies, The (1985) Adventure|Children's|Fantasy
Absent Minded Professor, The (1961) Children's|Comedy|Fantasy
Babes in Toyland (1961) Children's|Fantasy|Musical
Dune (1984) Fantasy|Sci-Fi
Darby O'Gill and the Little People (1959) Adventure|Children's|Fantasy
Honey, I Shrunk the Kids (1989) Adventure|Children's|Comedy|Fantasy|Sci-Fi
One Magic Christmas (1985) Drama|Fantasy
Peter Pan (1953) Animation|Children's|Fantasy|Musical
Return to Oz (1985) Adventure|Children's|Fantasy|Sci-Fi
Splash (1984) Comedy|Fantasy|Romance
Tron (1982) Action|Adventure|Fantasy|Sci-Fi
Watership Down (1978) Animation|Children's|Drama|Fantasy
Dark Crystal, The (1982) Children's|Fantasy|Sci-Fi
Legend (1985) Adventure|Fantasy|Romance
NeverEnding Story, The (1984) Adventure|Children's|Fantasy
NeverEnding Story II: The Next Chapter, The (1990) Adventure|Children's|Fantasy
Navigator: A Mediaeval Odyssey, The (1988) Adventure|Fantasy|Sci-Fi
Beetlejuice (1988) Comedy|Fantasy
Willow (1988) Action|Adventure|Fantasy
Toys (1992) Action|Comedy|Fantasy
Santa Claus: The Movie (1985) Adventure|Children's|Fantasy
Boy Who Could Fly, The (1986) Drama|Fantasy
Midsummer Night's Dream, A (1999) Comedy|Fantasy
Star Wars: Episode I - The Phantom Menace (1999) Action|Adventure|Fantasy|Sci-Fi
Big (1988) Comedy|Fantasy
Excalibur (1981) Action|Drama|Fantasy|Romance
Time Bandits (1981) Adventure|Fantasy|Sci-Fi
7th Voyage of Sinbad, The (1958) Action|Adventure|Fantasy
Date with an Angel (1987) Comedy|Fantasy
Teenage Mutant Ninja Turtles (1990) Action|Children's|Fantasy
Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991) Action|Children's|Fantasy
Teenage Mutant Ninja Turtles III (1993) Action|Children's|Fantasy
Heart and Souls (1993) Comedy|Fantasy
Ladyhawke (1985) Adventure|Fantasy|Romance
Hook (1991) Adventure|Fantasy
Supergirl (1984) Action|Adventure|Fantasy
Highlander: Endgame (2000) Action|Adventure|Fantasy
Faraway, So Close (In Weiter Ferne, So Nah!) (1993) Drama|Fantasy
--------------------------
There are 1 exclusevely Fantasy movies in the list.

List of movies with this property:

                              title   genres
792  Hungarian Fairy Tale, A (1987)  Fantasy

In [39]:
#Finds all 'Adventure' movies
b=0;
for i in range(len(movies.genres)):
  if "Adventure" in movies.genres.iloc[i]:
    b+=1
print("There are",b,"Adventure movies in the list.")
print("")
print("List of movies with this property:")
print("")
for i in range(len(movies.genres)):
  if "Adventure" in movies.genres.iloc[i]:
    print(movies.title.iloc[i], movies.genres.iloc[i])
print("--------------------------")
#Finds movies that are just 'Adventure' 
a=0;
for i in range(len(movies.genres)):
  if movies.genres.iloc[i]=="Adventure":
    a+=1
print("There are",a,"exclusevely Fantasy movies in the list.")
print("")
print("List of movies with this property:")
print("")
print(movies[movies.genres=="Adventure"])

There are 283 Adventure movies in the list.

List of movies with this property:

Jumanji (1995) Adventure|Children's|Fantasy
Tom and Huck (1995) Adventure|Children's
GoldenEye (1995) Action|Adventure|Thriller
Cutthroat Island (1995) Action|Adventure|Romance
City of Lost Children, The (1995) Adventure|Sci-Fi
Wings of Courage (1995) Adventure|Romance
Mortal Kombat (1995) Action|Adventure
Kids of the Round Table (1995) Adventure|Children's|Fantasy
Indian in the Cupboard, The (1995) Adventure|Children's|Fantasy
White Squall (1996) Adventure|Drama
Muppet Treasure Island (1996) Adventure|Children's|Comedy|Musical
Rumble in the Bronx (1995) Action|Adventure|Crime
NeverEnding Story III, The (1994) Adventure|Children's|Fantasy
Amazing Panda Adventure, The (1995) Adventure|Children's
Batman Forever (1995) Action|Adventure|Comedy|Crime
Casper (1995) Adventure|Children's
Congo (1995) Action|Adventure|Mystery|Sci-Fi
First Knight (1995) Action|Adventure|Drama|Romance
Free Willy 2: The Adventure Home (1995) Adventure|Children's|Drama
Judge Dredd (1995) Action|Adventure|Sci-Fi
Waterworld (1995) Action|Adventure
Far From Home: The Adventures of Yellow Dog (1995) Adventure|Children's
Kid in King Arthur's Court, A (1995) Adventure|Children's|Comedy|Fantasy|Romance
Star Wars: Episode IV - A New Hope (1977) Action|Adventure|Fantasy|Sci-Fi
Quick and the Dead, The (1995) Action|Adventure|Western
Stargate (1994) Action|Adventure|Sci-Fi
Star Trek: Generations (1994) Action|Adventure|Sci-Fi
War, The (1994) Adventure|Drama
Clear and Present Danger (1994) Action|Adventure|Thriller
Jungle Book, The (1994) Adventure|Children's|Romance
True Lies (1994) Action|Adventure|Comedy|Romance
Secret Adventures of Tom Thumb, The (1993) Adventure|Children's
Black Beauty (1994) Adventure|Children's
Cliffhanger (1993) Action|Adventure|Crime
Free Willy (1993) Adventure|Children's|Drama
Good Man in Africa, A (1994) Action|Adventure
Hard Target (1993) Action|Adventure|Crime|Thriller
Jurassic Park (1993) Action|Adventure|Sci-Fi
Lassie (1994) Adventure|Children's
Super Mario Bros. (1993) Action|Adventure|Children's|Sci-Fi
Surviving the Game (1994) Action|Adventure|Thriller
Three Musketeers, The (1993) Action|Adventure|Comedy
Pagemaster, The (1994) Action|Adventure|Animation|Children's|Fantasy
Andre (1994) Adventure|Children's
Dances with Wolves (1990) Adventure|Drama|Western
Batman (1989) Action|Adventure|Crime|Drama
Homeward Bound II: Lost in San Francisco (1996) Adventure|Children's
Heavy Metal (1981) Action|Adventure|Animation|Horror|Sci-Fi
Mission: Impossible (1996) Action|Adventure|Mystery
Dragonheart (1996) Action|Adventure|Fantasy
Space Jam (1996) Adventure|Animation|Children's|Comedy|Fantasy
Barbarella (1968) Adventure|Sci-Fi
Operation Dumbo Drop (1995) Action|Adventure|Comedy|War
Quest, The (1996) Action|Adventure
Flipper (1996) Adventure|Children's
Rock, The (1996) Action|Adventure|Thriller
Twister (1996) Action|Adventure|Romance|Thriller
Gold Diggers: The Secret of Bear Mountain (1995) Adventure|Children's
Phantom, The (1996) Adventure
Daylight (1996) Action|Adventure|Thriller
Alaska (1996) Adventure|Children's
Fled (1996) Action|Adventure
Adventures of Pinocchio, The (1996) Adventure|Children's
Chain Reaction (1996) Action|Adventure|Thriller
Escape from L.A. (1996) Action|Adventure|Sci-Fi|Thriller
For Whom the Bell Tolls (1943) Adventure|War
Wizard of Oz, The (1939) Adventure|Children's|Drama|Musical
Golden Earrings (1947) Adventure|Romance
Adventures of Robin Hood, The (1938) Action|Adventure
Mark of Zorro, The (1940) Adventure
Around the World in 80 Days (1956) Adventure|Comedy
African Queen, The (1951) Action|Adventure|Romance|War
Fly Away Home (1996) Adventure|Children's
Maximum Risk (1996) Action|Adventure|Thriller
Escape to Witch Mountain (1975) Adventure|Children's|Fantasy
Herbie Rides Again (1974) Adventure|Children's|Comedy
Homeward Bound: The Incredible Journey (1993) Adventure|Children's
Swiss Family Robinson (1960) Adventure|Children's
20,000 Leagues Under the Sea (1954) Adventure|Children's|Fantasy|Sci-Fi
Pete's Dragon (1977) Adventure|Animation|Children's|Musical
Bedknobs and Broomsticks (1971) Adventure|Children's|Musical
Ghost and the Darkness, The (1996) Action|Adventure
Macao (1952) Adventure
Willy Wonka and the Chocolate Factory (1971) Adventure|Children's|Comedy|Fantasy
Old Man and the Sea, The (1958) Adventure|Drama
Tashunga (1995) Adventure|Western
Abyss, The (1989) Action|Adventure|Sci-Fi|Thriller
Escape from New York (1981) Action|Adventure|Sci-Fi|Thriller
Star Wars: Episode V - The Empire Strikes Back (1980) Action|Adventure|Drama|Sci-Fi|War
Princess Bride, The (1987) Action|Adventure|Comedy|Romance
Raiders of the Lost Ark (1981) Action|Adventure
Lawrence of Arabia (1962) Adventure|War
Star Wars: Episode VI - Return of the Jedi (1983) Action|Adventure|Romance|Sci-Fi|War
Army of Darkness (1993) Action|Adventure|Comedy|Horror|Sci-Fi
Big Blue, The (Le Grand Bleu) (1988) Adventure|Romance
Treasure of the Sierra Madre, The (1948) Adventure
Stand by Me (1986) Adventure|Comedy|Drama
Evil Dead II (Dead By Dawn) (1987) Action|Adventure|Comedy|Horror
Great Escape, The (1963) Adventure|War
Akira (1988) Adventure|Animation|Sci-Fi|Thriller
Highlander (1986) Action|Adventure
Ben-Hur (1959) Action|Adventure|Drama
Indiana Jones and the Last Crusade (1989) Action|Adventure
Man Who Would Be King, The (1975) Adventure
Star Trek: First Contact (1996) Action|Adventure|Sci-Fi
Jingle All the Way (1996) Adventure|Children's|Comedy
Star Trek: The Motion Picture (1979) Action|Adventure|Sci-Fi
Star Trek VI: The Undiscovered Country (1991) Action|Adventure|Sci-Fi
Star Trek V: The Final Frontier (1989) Action|Adventure|Sci-Fi
Star Trek: The Wrath of Khan (1982) Action|Adventure|Sci-Fi
Star Trek III: The Search for Spock (1984) Action|Adventure|Sci-Fi
Star Trek IV: The Voyage Home (1986) Action|Adventure|Sci-Fi
Batman Returns (1992) Action|Adventure|Comedy|Crime
Turbo: A Power Rangers Movie (1997) Action|Adventure|Children's
Anaconda (1997) Action|Adventure|Thriller
Warriors of Virtue (1997) Action|Adventure|Children's|Fantasy
Second Jungle Book: Mowgli & Baloo, The (1997) Adventure|Children's
Lost World: Jurassic Park, The (1997) Action|Adventure|Sci-Fi|Thriller
Buddy (1997) Adventure|Children's|Drama
Con Air (1997) Action|Adventure|Thriller
Batman & Robin (1997) Action|Adventure|Crime
Hercules (1997) Adventure|Animation|Children's|Comedy|Musical
Men in Black (1997) Action|Adventure|Comedy|Sci-Fi
Wild America (1997) Adventure|Children's
Conan the Barbarian (1982) Action|Adventure
Spawn (1997) Action|Adventure|Sci-Fi|Thriller
Free Willy 3: The Rescue (1997) Adventure|Children's|Drama
Excess Baggage (1997) Adventure|Romance
Kull the Conqueror (1997) Action|Adventure
Edge, The (1997) Adventure|Thriller
Starship Troopers (1997) Action|Adventure|Sci-Fi|War
Mortal Kombat: Annihilation (1997) Action|Adventure
Time Tracers (1995) Action|Adventure|Sci-Fi
Firestorm (1998) Action|Adventure|Thriller
Star Kid (1997) Adventure|Children's|Fantasy|Sci-Fi
Sphere (1998) Adventure|Sci-Fi|Thriller
Paulie (1998) Adventure|Children's|Comedy
Barney's Great Adventure (1998) Adventure|Children's
Borrowers, The (1997) Adventure|Children's|Comedy|Fantasy
Prince Valiant (1997) Adventure
Tarzan and the Lost City (1998) Action|Adventure
Quest for Camelot (1998) Adventure|Animation|Children's|Fantasy
Almost Heroes (1998) Adventure|Comedy
Six Days Seven Nights (1998) Adventure|Comedy|Romance
Passion in the Desert (1998) Adventure|Drama
Armageddon (1998) Action|Adventure|Sci-Fi|Thriller
Mutiny on the Bounty (1935) Adventure
Labyrinth (1986) Adventure|Children's|Fantasy
Goonies, The (1985) Adventure|Children's|Fantasy
Mask of Zorro, The (1998) Action|Adventure|Romance
Poseidon Adventure, The (1972) Action|Adventure
Candleshoe (1977) Adventure|Children's|Comedy
Cheetah (1989) Adventure|Children's
Condorman (1981) Action|Adventure|Children's|Comedy
Darby O'Gill and the Little People (1959) Adventure|Children's|Fantasy
Far Off Place, A (1993) Adventure|Children's|Drama|Romance
Flight of the Navigator (1986) Adventure|Children's|Sci-Fi
Herbie Goes Bananas (1980) Adventure|Children's|Comedy
Herbie Goes to Monte Carlo (1977) Adventure|Children's|Comedy
Honey, I Shrunk the Kids (1989) Adventure|Children's|Comedy|Fantasy|Sci-Fi
In Search of the Castaways (1962) Adventure|Children's
Incredible Journey, The (1963) Adventure|Children's
Journey of Natty Gann, The (1985) Adventure|Children's
Popeye (1980) Adventure|Comedy|Musical
Return to Oz (1985) Adventure|Children's|Fantasy|Sci-Fi
Rocketeer, The (1991) Action|Adventure|Sci-Fi
Song of the South (1946) Adventure|Animation|Children's|Musical
Squanto: A Warrior's Tale (1994) Adventure|Drama
Tall Tale (1994) Adventure|Children's
Tron (1982) Action|Adventure|Fantasy|Sci-Fi
Indiana Jones and the Temple of Doom (1984) Action|Adventure
Lord of the Rings, The (1978) Adventure|Animation|Children's|Sci-Fi
Adventures in Babysitting (1987) Adventure|Comedy
Doctor Dolittle (1967) Adventure|Musical
Legend (1985) Adventure|Fantasy|Romance
Avengers, The (1998) Action|Adventure
NeverEnding Story, The (1984) Adventure|Children's|Fantasy
NeverEnding Story II: The Next Chapter, The (1990) Adventure|Children's|Fantasy
Blade (1998) Action|Adventure|Horror
Navigator: A Mediaeval Odyssey, The (1988) Adventure|Fantasy|Sci-Fi
Willow (1988) Action|Adventure|Fantasy
Nothing But Trouble (1991) Adventure|Comedy
Six-String Samurai (1998) Action|Adventure|Sci-Fi
Soldier (1998) Action|Adventure|Sci-Fi|Thriller|War
Runaway Train (1985) Action|Adventure|Drama|Thriller
King Kong (1933) Action|Adventure|Horror
King Kong (1976) Action|Adventure|Horror
King Kong Lives (1986) Action|Adventure|Horror
Emerald Forest, The (1985) Action|Adventure|Drama
Red Sonja (1985) Action|Adventure
Santa Claus: The Movie (1985) Adventure|Children's|Fantasy
Jewel of the Nile, The (1985) Action|Adventure|Comedy|Romance
Romancing the Stone (1984) Action|Adventure|Comedy|Romance
Young Sherlock Holmes (1985) Action|Adventure|Mystery
Karate Kid, Part II, The (1986) Action|Adventure|Drama
Karate Kid III, The (1989) Action|Adventure|Drama
Mighty Joe Young (1998) Adventure|Children's|Drama
Mighty Joe Young (1949) Adventure|Children's|Drama
Garbage Pail Kids Movie, The (1987) Adventure|Children's
Howard the Duck (1986) Adventure|Children's|Sci-Fi
Crocodile Dundee (1986) Adventure|Comedy
Crocodile Dundee II (1988) Adventure|Comedy
Firewalker (1986) Adventure
Logan's Run (1976) Action|Adventure|Sci-Fi
Beyond the Poseidon Adventure (1979) Adventure
Mighty Peking Man (Hsing hsing wang) (1977) Adventure|Sci-Fi
My Science Project (1985) Adventure|Sci-Fi
Mummy, The (1999) Action|Adventure|Horror|Thriller
Star Wars: Episode I - The Phantom Menace (1999) Action|Adventure|Fantasy|Sci-Fi
Superman (1978) Action|Adventure|Sci-Fi
Superman II (1980) Action|Adventure|Sci-Fi
Superman III (1983) Action|Adventure|Sci-Fi
Superman IV: The Quest for Peace (1987) Action|Adventure|Sci-Fi
Inspector Gadget (1999) Action|Adventure|Children's|Comedy
Mystery Men (1999) Action|Adventure|Comedy
Vibes (1988) Adventure|Comedy
Golden Child, The (1986) Action|Adventure|Comedy
Allan Quartermain and the Lost City of Gold (1987) Action|Adventure
Male and Female (1919) Adventure|Drama
Medicine Man (1992) Adventure|Romance
Saturn 3 (1979) Adventure|Sci-Fi|Thriller
Deliverance (1972) Adventure|Thriller
Operation Condor (Feiying gaiwak) (1990) Action|Adventure|Comedy
Operation Condor 2 (Longxiong hudi) (1990) Action|Adventure|Comedy
Napoleon and Samantha (1972) Adventure
Gulliver's Travels (1939) Adventure|Animation|Children's
Sanjuro (1962) Action|Adventure
Total Recall (1990) Action|Adventure|Sci-Fi|Thriller
Blue Lagoon, The (1980) Adventure|Drama|Romance
Time Bandits (1981) Adventure|Fantasy|Sci-Fi
Fitzcarraldo (1982) Adventure|Drama
Who Framed Roger Rabbit? (1988) Adventure|Animation|Film-Noir
Princess Mononoke, The (Mononoke Hime) (1997) Action|Adventure|Animation
Quest for Fire (1981) Adventure
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984) Adventure|Comedy|Sci-Fi
Midnight Run (1988) Action|Adventure|Comedy|Crime
Tarzan the Fearless (1933) Action|Adventure
7th Voyage of Sinbad, The (1958) Action|Adventure|Fantasy
Brenda Starr (1989) Adventure
Easy Rider (1969) Adventure|Drama
Ulysses (Ulisse) (1954) Adventure
Galaxy Quest (1999) Adventure|Comedy|Sci-Fi
Supernova (2000) Adventure|Sci-Fi
Snows of Kilimanjaro, The (1952) Adventure
Forever Young (1992) Adventure|Romance|Sci-Fi
Knockout (1999) Action|Adventure
Beach, The (2000) Adventure|Drama
Legend of Lobo, The (1962) Adventure|Children's
Charlie, the Lonesome Cougar (1967) Adventure|Children's
Where Eagles Dare (1969) Action|Adventure|War
Let's Get Harry (1986) Action|Adventure
Shanghai Surprise (1986) Adventure
Baby... Secret of the Lost Legend (1985) Adventure|Sci-Fi
Captain Horatio Hornblower (1951) Action|Adventure|War
Bear, The (1988) Adventure
Crimson Pirate, The (1952) Adventure|Comedy|Sci-Fi
Lord of the Flies (1963) Adventure|Drama|Thriller
Dersu Uzala (1974) Adventure|Drama
Ladyhawke (1985) Adventure|Fantasy|Romance
Hook (1991) Adventure|Fantasy
Son of the Sheik, The (1926) Adventure
True Grit (1969) Adventure|Western
Great Locomotive Chase, The (1956) Adventure|War
Slipper and the Rose, The (1976) Adventure|Musical|Romance
Benji (1974) Adventure|Children's
Benji the Hunted (1987) Adventure|Children's
For the Love of Benji (1977) Adventure|Children's
Running Man, The (1987) Action|Adventure|Sci-Fi
Starman (1984) Adventure|Drama|Romance|Sci-Fi
Bird on a Wire (1990) Action|Adventure|Romance|Thriller
Titan A.E. (2000) Adventure|Animation|Sci-Fi
Perfect Storm, The (2000) Action|Adventure|Thriller
Dreamscape (1984) Adventure|Crime|Sci-Fi|Thriller
Golden Voyage of Sinbad, The (1974) Action|Adventure
Knightriders (1981) Action|Adventure|Drama
Sinbad and the Eye of the Tiger (1977) Action|Adventure
Bronco Billy (1980) Adventure|Drama|Romance
Godzilla 2000 (Gojira ni-sen mireniamu) (1999) Action|Adventure|Sci-Fi
Supergirl (1984) Action|Adventure|Fantasy
Highlander: Endgame (2000) Action|Adventure|Fantasy
Voyage to the Bottom of the Sea (1961) Adventure|Sci-Fi
Fantastic Voyage (1966) Adventure|Sci-Fi
Digimon: The Movie (2000) Adventure|Animation|Children's
--------------------------
There are 17 exclusevely Fantasy movies in the list.

List of movies with this property:

                                         title     genres
761                        Phantom, The (1996)  Adventure
941                  Mark of Zorro, The (1940)  Adventure
1070                              Macao (1952)  Adventure
1254  Treasure of the Sierra Madre, The (1948)  Adventure
1303         Man Who Would Be King, The (1975)  Adventure
1849                     Prince Valiant (1997)  Adventure
1931               Mutiny on the Bounty (1935)  Adventure
2477                         Firewalker (1986)  Adventure
2537      Beyond the Poseidon Adventure (1979)  Adventure
2895              Napoleon and Samantha (1972)  Adventure
3036                     Quest for Fire (1981)  Adventure
3166                       Brenda Starr (1989)  Adventure
3172                   Ulysses (Ulisse) (1954)  Adventure
3207          Snows of Kilimanjaro, The (1952)  Adventure
3390                  Shanghai Surprise (1986)  Adventure
3412                          Bear, The (1988)  Adventure
3492              Son of the Sheik, The (1926)  Adventure

17